<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow Symfony to handle the request
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule mod_authz_core.c>
    Require all granted
</IfModule>
