{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}
    {% if app.user is empty%}
    <p>Aucun profil identifié</p>
    {% else %}
    <div class="card" style="width: 18rem;">
      <img src="{{ asset('logo/model_gars.jpg') }}" class="avatar rounded-circle " alt="...">
      <div class="card-body">
        <h3 class="card-title text-center">Mon profil</h3>
          <h3 class="card-text text-center">{{app.user.pseudo}}</h3>
          <p class="card-text text-center">Crédits: {{app.user.credits}}</p>
      </div>
      <!-- body -->
      <div class="d-flex ">
        <div class="infoUser" >
          <ul>
            <li>Membre depuis 2022 </li>
            <li>Chauffeur / Passager </li>
            <li>
            <i class="bi bi-star-fill"> {{app.user.rateUser}}/5</i>
            </li>
            <li>Mon vehicule: </li>
            <li>Immatriculé: </li>
            <li>Date de 1ere mise en circulation: </li>
            <li>Place disponible: </li>
            <li>Non fumeur </li>
            <li>Pas d'animal </li>
          </ul>
          <hr>
          <p> Autre commentaire:</p>
          <p>J'adore le cinéma et les mangas</p>
        </div>
        <div class="avis">
          <!--{ if comments is empty %}-->
          <p>Il n'y a pas d'avis.</p>
          <!--{ else %}-->
          <p class="text-decoration-underline"> Derniers avis clients:</p>
          <!--{ for comment in comments %}-->
          <div>
            <div class="rate">
              <i class="bi bi-star-fill"> {app.avis.rate}/5</i>
            </div>
            <div>{app.avis.createdAt}
            </div>
            <div>
              <p>{app.avis.comment}</p>
            </div>
          </div>
          <!--{ endfor %}-->
          <!--{ endif %}-->
        </div>
      </div>
    {% endif %}
  {% endblock %}
