    body {
        background-color: #FFFFFF;
    }
span{
color :#39B54E;
font-weight: bold;
}
    .bouton {
        margin: 8 px;
        background-color: #39B54E;
        color:#FFFFFF;
    }
    
    .logo img {
        width:200px;
        height: 125px;
    }
    .navbarHeader{
        font-size: 24px;
    }
    .navbarHeader, footer{
        background-color: #324D4D;
        font-style:normal;
        font-family: "agbalumo", "arial", sans-serif;
        color:#FFFFFF ;
        max-width: 100% !important;
    }
    
    .navBar{
        justify-content:space-between;
        
    }
    
    .logoFooter img{
        width:3rem;
        
    }
    .icon-hover:hover, a:hover, button i:hover, font:hover {
        color: #FFDD00; /* Change la couleur en rouge */
        cursor: pointer; /* Change le curseur pour indiquer une interaction */
    }
    .custom-links {
        color: #FFFFFF; /* Blanc */
        text-decoration: none; /* Supprime le soulignement */
    }

    /* dashboard */
    .sidebar {
        background-color: #324D4D;
        /*position:fixed;*/
        width: 280px;
        
    }
    /*.dashboard-content {
        width: calc(100% - 300px);
        margin-left: 300px;
    }*/
    /* search */

.icon-hover , .star{
    font-size: 1.5rem; 
    color: #39B54E;
}

.btn {
    background-color: #39B54E;
}

/* fiche profil */
.avatar{
    width: 200px;
    height: auto;
}

.page-profil{
    min-height: 100vh;
    }

.profil, .MesVoyages {
    width: 100%; 
    }
.custom-bg {
    background-color: #39B54E !important; 
    color:#FFFFFF ;
}
div.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card-header{
    height: 7rem;
}