    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
        
    body {
        background-color: #FFFFFF;
        height: 100%; /* Permet d'occuper toute la hauteur de la page */
        margin: 0;
        display: grid;
        min-height: 100vh;
        grid-template-rows: auto 1fr auto;
    }

   /*  .containerHtml {
        flex: 1 !important;/* Permet au contenu de s'étendre pour pousser le footer en bas 
        display: flex;
        flex-direction: column;
    }  */

    header{
        position:relative;
        padding-bottom:10px;
        width: 100%;
    }

    span {
    color :#39B54E;
    font-weight: bold;
    }

    h1{
        color :#39B54E !important;
        font-weight: bold;
        }

    .bouton {
        margin: 8 px;
        background-color: #39B54E;
        color:#FFFFFF;
    }
    
    .logo img {
        width:300px;
        height: 200px;
    }
    .navbarHeader{
        font-size: 24px;
    }
    .navbarHeader, footer ,.navBar{
        background-color: #324D4D;
        font-style:normal;
        font-family: "agbalumo", "arial", sans-serif;
        color:#FFFFFF ;
        max-width: 100% !important;
    }
    
    .logoFooter img{
        width:3rem;
        
    }
    .icon-hover:hover, a:hover,.lien:hover, button i:hover, font:hover , .dropdown-item:hover {
        color: #FFDD00 !important; /* Change la couleur en rouge */
        cursor: pointer; /* Change le curseur pour indiquer une interaction */
    }
    .custom-links {
        color: #FFFFFF; 
        text-decoration: none; /* Supprime le soulignement */
    }

    /* dashboard */
    .sidebar {
        background-color: #324D4D;
        width: 250px;
        
    }
    /*.dashboard-content {
        width: calc(100% - 300px);
        margin-left: 300px;
    }*/
    /* search */

.icon-hover , .star{
    font-size: 1.5rem; 
    color: #39B54E;
}

.btn-page {
    color: #FFFFFF !important;
}
.btn-success {
    background-color:#324D4D !important;
}

.btn-info {
    background-color:#39B54E !important;
    color: #FFFFFF !important;
}
.btn-success:hover {
    background-color:#39B54E !important;
}
/* fiche profil */
.avatar, i.avatar{
    width: 70px;
    height: 70px;
}

.page-profil{
    min-height: 100vh;
    }

.profil, .MesVoyages {
    width: 100%; 
    }
.custom-bg {
    background-color: #39B54E !important; 
    color:#FFFFFF ;
}
/* div.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */
.card-header{
    height: 8rem;
}

.header-list{
    height: 4rem;
}

.check , .cardText{
    color:#39B54E;
}
.admin-card{
    height: 240px !important;
}

/* Ajouter une media query pour les écrans moyen */
/* @media (max-width: 576px) {
.logoFooter{
justify-content: center !important;

}
} */

/*Ajouter une media query les écrans plus petits */
@media (max-width: 576px) {

.row img {

width: 70px;
height: 70px;

}
.infoUser{
    font-size: 0.8rem !important;
    }
.conducteurInfo,.passagerInfo{
font-size: 1rem !important;
}

.email{
    font-size: 0.8rem !important;
    }
.lead{
font-size:1rem;

}
table{
    font-size:0.8rem;
}
.avis{
    width: auto !important;
}

/* div.cards{

    display:grid;
    grid-template-columns: auto;
} */
}

