{% block title %}Fin de votre voyage{% endblock %}

{% block body %}

<div>
    <h1>Votre avis est validé.</h1>
    <br>
    <p>Merci d'avoir participer à un voyage avec ECORIDE et d'avoir pu laisser votre avis.<br>
    <br>
    Ce dernier a été validé et apparait désormais sur le site.
    <br></p>
    <p class="fs-4 text-center">A très bientôt,pour un autre voyage avec Ecoride.</p>
    <div class="d-flex align-items-center">
        <img src="{{ asset('logo/Logo.png') }}" alt='logo Ecoride' style="max-width: 150px; height: auto; display: block;">
    </div<
</div>
{% endblock %}
