
{% block title %}Fin de votre voyage{% endblock %}

{% block body %}

<div>
    <h1>Votre voyage est terminé! ✅</h1><br>

    <p>Merci d'avoir participer à ce covoiturage avec ECORIDE.<br>
    <br>
    Veuillez valider votre arrivée et y mettre un avis en cliquant sur le lien ci dessous:</p>
    <a href='app_avis_new' class="btn btn-success">Valider votre arrivé</a>
    <p>A tres bientôt,pour un autre voyage avec Ecoride.</p>
    <div class="d-flex align-items-center">
        <img src="{{ asset('logo/Logo.png') }}" alt='logo Ecoride' style="max-width: 150px; height: auto; display: block;">
    </div<
</div>
{% endblock %}
