{% block title %}Annulation de votre voyage{% endblock %}

{% block body %}

<div>
    <h1>Votre covoiturage a été annulé!!</h1><br>

    <p>Le conducteur à annulé votre covoiturage au départ de {{ covoiturage.lieuDepart|capitalize}} dont le départ était prévu le {{ covoiturage.dateDepart|date('d-m-Y') }} à {{covoiturage.heureDepart}}.
    <br>
    Votre crédit a donc été réactualisé.</p>
    <p>Nous sommes désolé de ce changement,je vous laisse rechercher à nouveau un covoiturage pour ce trajet.</p>
    <p>Croyez bien que toute l'équpe d'Ecoride s'en excuse.</p>
    
    <a class="btn btn-success" href={{ urlCovoiturageRecherche }}>Ecoride,recherche de Covoiturage</a>
    <p>A très bientôt avec Ecoride.</p>
    <hr>
    <div class="d-flex align-items-center">
        <img src="https://127.0.0.1:8000/assets/logo/Logo.png" alt="Logo" width="100" height="100">
    </div>
</div>
{% endblock %}