Votre covoiturage a été annulé!!

    Le conducteur à annulé votre covoiturage au départ de {{covoiturage.lieuDepart|capitalize }} dont le départ était prévu le  {{ covoiturage.dateDepart|capitalize}}.
    
    Votre crédit a donc été réactualisé.
    Nous sommes désolé de ce changement,je vous laisse rechercher à nouveau un covoiturage pour ce trajet.</p>
    Croyez bien que toute l'équpe d'Ecoride s'en excuse.
    
    rechercher un nouveau voyage : {{urlCovoiturageRecherche}}.

    A très bientôt,avec Ecoride.