{% block title %}Annulation de votre voyage{% endblock %}

{% block body %}

<div>
    <h1>Votre covoiturage a été annulé!!</h1><br>

    <p>Le conducteur à annulé votre covoiturage au départ de  dont le départ était prévu le <br>
    <br>
    Votre crédit a donc été réactualisé.</p>
    <p>Nous sommes désolé de ce changement,je vous laisse rechercher à nouveau un covoiturage pour ce trajet.</p>
    <p>Croyez bien que toute l'équpe d'Ecoride s'en excuse.</p>
    
    <a href='app_covoiturageRecherche'>Ecoride</a>

    <p>A tres bientôt,avec Ecoride.</p>

    <img src="{{ asset('logo/Logo.png') }}" alt='logo Ecoride'>

</div>
{% endblock %}